apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mmessenger-storage
  namespace: messenger
  labels:
    app: mmessenger
    component: storage
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-client
  resources:
    requests:
      storage: 10Gi
